@mixin button-color {
  width: 283px;
  height: 100px;
  border-radius: 30px;
  border: 2px solid $white-color;
}

@mixin button-position-center {
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
}

@mixin button-setting {
  width: 283px;
  height: 62px;
  border: 2px solid;
  border-radius: 35px;
}

@mixin button-plus-minus {
  height: 36px;
  width: 36px;
  line-height: 36px;
  cursor: pointer;
  background-color: $pink-color;
  text-align: center;
  color: $black-color;
  font-weight: bold;
  font-size: 25px;
  border-radius: 50%;
  &:hover {
    background-color: $white-color;
    transition: 1s;
  }
}

@mixin card-button {
  width: 210px;
  height: 62px;
  border: 2px solid $black-color;
  border-radius: 35px;
}

@mixin box-card {
  border-radius: 5%;
  background-color: $white-color;
  max-width: 522px;
  height: 608px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  -webkit-box-shadow: 1px 8px 11px 1px rgba(34, 60, 80, 0.4);
  -moz-box-shadow: 1px 8px 11px 1px rgba(34, 60, 80, 0.4);
  box-shadow: 1px 8px 11px 1px rgba(34, 60, 80, 0.4);
}

@mixin innerCard {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: 0.8);
}

@mixin box-setting {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  @include box-card;
  height: 689px;
  width: 522px;
}

@mixin button-text {
  //styleName: Desktop - Button;
  font-family: Gilroy;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: -1.147661805152893px;
  text-align: center;
}
