@mixin button-color {
  width: 283px;
  height: 100px;
  border-radius: 30px;
  border: 2px solid $white-color;
}

@mixin button-position-center {
  display: flex;
  justify-content: center;
  align-content: space-between;
  align-items: center;
  flex-direction: column;
}

@mixin button-setting {
  width: 283px;
  height: 62px;
  border: 2px solid;
  border-radius: 35px;
}

@mixin button-plus-minus {
  height: 36px;
  width: 36px;
  line-height: 36px;
  cursor: pointer;
  background-color: $pink-color;
  text-align: center;
  color: $black-color;
  font-weight: bold;
  font-size: 25px;
  border-radius: 50%;
  &:hover {
    background-color: $white-color;
    transition: 1s;
  }
}

@mixin card-button {
  width: 210px;
  height: 62px;
  border: 2px solid $black-color;
  border-radius: 35px;
}

@mixin box-card {
  border-radius: 5%;
  background-color: $white-color;
  max-width: 522px;
  height: 608px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  -webkit-box-shadow: 1px 8px 11px 1px rgba(34, 60, 80, 0.4);
  -moz-box-shadow: 1px 8px 11px 1px rgba(34, 60, 80, 0.4);
  box-shadow: 1px 8px 11px 1px rgba(34, 60, 80, 0.4);
}
