@font-face {
    font-family: 'Neucha';
    src: url(./fonts/font/Neucha-Regular.woff2), url(./fonts/font/Neucha-Regular.woff),
        url(./fonts/font/Neucha-Regular.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Steppe';
    src: url(./fonts/font/Steppe.woff2), url(./fonts/font/Steppe.woff), url(./fonts/font/Steppe.ttf);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
