@import '../scssSettings/globalSetting.scss';

.garage {
    &__info {
        font-family: 'INVASION2000';
        font-size: 25px;
        padding-left: 25px;
        margin: 10px 0 10px 0;
    }
    &__page {
        font-family: 'INVASION2000';
        padding-left: 25px;
        font-size: 25px;
    }
    &__border {
        display: block;
        height: 50%;
        border: 2px solid $full-black-color;
        border-radius: 25px;
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.input {
    &__button {
        @include buttonCar;
        &:hover {
            @include retroButtonHover;
        }
        &:active {
            @include retroButtonActive;
        }
    }
}

.update {
    &__button {
        @include buttonCar;
        &:hover {
            @include retroButtonHover;
        }
        &:active {
            @include retroButtonActive;
        }
    }
}

.race {
    display: flex;
    align-content: center;
    align-items: flex-end;
    &__flag {
        width: 100px;
        height: 100px;
        margin-left: 20px;
        background: url('../../assets/1.gif');
        background-size: 70px 100px;
        background-repeat: no-repeat;
    }
    &__info {
        display: flex;
        align-items: center;
        margin-left: 50px;
        margin-bottom: 20px;
        width: 100%;
        height: 90px;
        border: 2px solid black;
        border-radius: 15px;
    }
    &__button {
        @include buttonCar;
        &:hover {
            @include retroButtonHover;
        }
        &:active {
            @include retroButtonActive;
        }
    }
    &__reset {
        @include buttonCar;
        &:hover {
            @include retroButtonHover;
        }
        &:active {
            @include retroButtonActive;
        }
    }
    &__generate {
        @include buttonCar;
        &:hover {
            @include retroButtonHover;
        }
        &:active {
            @include retroButtonActive;
        }
    }
    &__text {
        display: inline-block;
        font-family: 'BACKTO1982';
        font-size: 26px;
        margin-left: 20px;
    }
}

.car {
    &__setting {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        width: 300px;
    }
    &__select {
        @include buttonCar;
        &:hover {
            @include retroButtonHover;
        }
        &:active {
            @include retroButtonActive;
        }
    }
    &__remove {
        @include buttonCar;
        &:hover {
            @include retroButtonHover;
        }
        &:active {
            @include retroButtonActive;
        }
    }
    &__name {
        font-family: 'INVASION2000';
        padding-left: 10px;
        font-size: 20px;
    }
    &__start {
        @include buttonCar;
        background: rgb(228, 78, 85);
        box-shadow: colorBoxShadow(rgb(228, 78, 85), rgb(209, 50, 57), rgb(228, 116, 121), rgba(0, 0, 0, 0.1));

        &:hover {
            box-shadow: colorBoxShadow(rgb(209, 50, 57), rgb(209, 50, 57), rgb(228, 116, 121), rgba(0, 0, 0, 0.2));
        }
        &:active {
            box-shadow: colorBoxShadowActive(rgb(228, 78, 85), rgb(228, 116, 121), rgb(209, 50, 57));
        }
    }
    &__back {
        @include buttonCar;
        background: rgb(255, 192, 84);
        box-shadow: colorBoxShadow(rgb(255, 192, 84), rgb(242, 170, 48), rgb(255, 217, 150), rgba(0, 0, 0, 0.1));
        &:hover {
            box-shadow: colorBoxShadow(rgb(242, 170, 48), rgb(242, 170, 48), rgb(255, 217, 150), rgba(0, 0, 0, 0.2));
        }
        &:active {
            box-shadow: colorBoxShadowActive(rgb(255, 192, 84), rgb(255, 217, 150), rgb(242, 170, 48));
        }
    }
    &__finish {
        background: url('../../assets/1.gif');
        width: 50px;
        height: 100px;
        background-repeat: no-repeat;
        z-index: 40;
        background-size: 20px;
    }
    &__track {
        display: flex;
        justify-content: space-between;
        margin-left: 5px;
        height: 100px;
        background: url('../../assets/3.png');
        background-repeat: no-repeat;
        z-index: 10;
    }
}

.car__svg {
    display: block;
    width: 100px;
    height: 60px;
    margin-left: 10px;
}
