@import '../scssSettings/globalSetting.scss';

.garage {
    &__inner {
    }
    &__info {
    }
    &__count {
    }
    &__page {
    }
    &__border {
        height: 60vh;
        border: 2px solid $full-black-color;
        border-radius: 25px;
    }
}

.car {
    &__setting {
        display: flex;
        width: 300px;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    &__select {
    }
    &__remove {
    }
    &__name {
    }
    &__race {
    }
    &__move {
    }
    &__start {
        @include buttonCar;
        background: rgb(228, 78, 85);
        box-shadow: -1px -1px 1px rgb(228, 78, 85), 0 0 0 4px rgba(0, 0, 0, 0.1), 1px 1px 1px rgb(209, 50, 57),
            inset 0 0 0 rgba(0, 0, 0, 0.2), inset 0.5rem 0.5rem 0.25rem rgb(228, 116, 121);
        &:hover {
            box-shadow: -1px -1px 1px rgb(209, 50, 57), 0 0 0 4px rgba(0, 0, 0, 0.2), 1px 1px 1px rgb(209, 50, 57),
                inset 0 0 0 rgba(0, 0, 0, 0.2), inset 0.5rem 0.5rem 0.25rem rgb(228, 116, 121);
        }
        &:active {
            box-shadow: inset 1px 1px 1px rgb(228, 78, 85), 0 0 0 4px rgba(0, 0, 0, 0.1),
                inset -1px -1px 1px rgb(228, 116, 121), inset 0.5rem 0.5rem 0.75rem rgb(209, 50, 57),
                inset 0.5rem 0.5rem 0.5rem rgba(255, 255, 255, 0.2);
        }
    }
    &__back {
        @include buttonCar;
        background: rgb(255, 192, 84);
        box-shadow: -1px -1px 1px rgb(255, 192, 84), 0 0 0 4px rgba(0, 0, 0, 0.1), 1px 1px 1px rgb(242, 170, 48),
            inset 0 0 0 rgba(0, 0, 0, 0.2), inset 0.5rem 0.5rem 0.25rem rgb(255, 217, 150);
        &:hover {
            box-shadow: -1px -1px 1px rgb(242, 170, 48), 0 0 0 4px rgba(0, 0, 0, 0.2), 1px 1px 1px rgb(242, 170, 48),
                inset 0 0 0 rgba(0, 0, 0, 0.2), inset 0.5rem 0.5rem 0.25rem rgb(255, 217, 150);
        }
        &:active {
            box-shadow: inset 1px 1px 1px rgb(255, 192, 84), 0 0 0 4px rgba(0, 0, 0, 0.1),
                inset -1px -1px 1px rgb(255, 217, 150), inset 0.5rem 0.5rem 0.75rem rgb(242, 170, 48),
                inset 0.5rem 0.5rem 0.5rem rgba(255, 255, 255, 0.2);
        }
    }
    &__item {
    }
    &__finish {
    }
}
