@import '../scssSettings/globalSetting.scss';

.garage {
    &__inner {
    }
    &__info {
        font-family: 'INVASION2000';
        font-size: 25px;
        padding-left: 25px;
        margin: 10px 0 10px 0;
    }
    &__count {
    }
    &__page {
        font-family: 'INVASION2000';
        padding-left: 25px;
        font-size: 25px;
        &__count {
        }
    }
    &__border {
        display: block;
        height: 50%;
        border: 2px solid $full-black-color;
        border-radius: 25px;
    }
    &__settings {
        &__name {
        }
    }
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }
}

.input {
    &__color {
    }
    &__button {
        @include buttonCar;
        &:hover {
            @include retroButtonHover;
        }
        &:active {
            @include retroButtonActive;
        }
    }
}

.update {
    &__color {
    }
    &__button {
        @include buttonCar;
        &:hover {
            @include retroButtonHover;
        }
        &:active {
            @include retroButtonActive;
        }
    }
}

.race {
    display: flex;
    align-content: center;
    align-items: flex-end;
    &__flag {
        width: 100px;
        height: 100px;
        border: 1px solid black;
        background: url('../../assets/1.gif');
        background-size: 70px 100px;
        background-repeat: no-repeat;
    }
    &__info {
        display: flex;
        align-items: center;
        width: 100%;
        height: 90px;
        border: 2px solid black;
        border-radius: 15px;
    }
    &__button {
        @include buttonCar;
        &:hover {
            @include retroButtonHover;
        }
        &:active {
            @include retroButtonActive;
        }
    }
    &__reset {
        @include buttonCar;
        &:hover {
            @include retroButtonHover;
        }
        &:active {
            @include retroButtonActive;
        }
    }
    &__generate {
        @include buttonCar;
        &:hover {
            @include retroButtonHover;
        }
        &:active {
            @include retroButtonActive;
        }
    }
    &__text {
        display: inline-block;
        font-family: 'BACKTO1982';
        font-size: 26px;
        margin-left: 20px;
    }
    &__winner {
    }
}

.car {
    &__setting {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        width: 300px;
    }
    &__select {
        @include buttonCar;
        &:hover {
            @include retroButtonHover;
        }
        &:active {
            @include retroButtonActive;
        }
    }
    &__remove {
        @include buttonCar;
        &:hover {
            @include retroButtonHover;
        }
        &:active {
            @include retroButtonActive;
        }
    }
    &__name {
        font-family: 'INVASION2000';
        padding-left: 10px;
        font-size: 20px;
    }
    &__race {
    }
    &__move {
    }
    &__start {
        @include buttonCar;
        background: rgb(228, 78, 85);
        box-shadow: -1px -1px 1px rgb(228, 78, 85), 0 0 0 4px rgba(0, 0, 0, 0.1), 1px 1px 1px rgb(209, 50, 57),
            inset 0 0 0 rgba(0, 0, 0, 0.2), inset 0.5rem 0.5rem 0.25rem rgb(228, 116, 121);
        &:hover {
            box-shadow: -1px -1px 1px rgb(209, 50, 57), 0 0 0 4px rgba(0, 0, 0, 0.2), 1px 1px 1px rgb(209, 50, 57),
                inset 0 0 0 rgba(0, 0, 0, 0.2), inset 0.5rem 0.5rem 0.25rem rgb(228, 116, 121);
        }
        &:active {
            box-shadow: inset 1px 1px 1px rgb(228, 78, 85), 0 0 0 4px rgba(0, 0, 0, 0.1),
                inset -1px -1px 1px rgb(228, 116, 121), inset 0.5rem 0.5rem 0.75rem rgb(209, 50, 57),
                inset 0.5rem 0.5rem 0.5rem rgba(255, 255, 255, 0.2);
        }
    }
    &__back {
        @include buttonCar;
        background: rgb(255, 192, 84);
        box-shadow: -1px -1px 1px rgb(255, 192, 84), 0 0 0 4px rgba(0, 0, 0, 0.1), 1px 1px 1px rgb(242, 170, 48),
            inset 0 0 0 rgba(0, 0, 0, 0.2), inset 0.5rem 0.5rem 0.25rem rgb(255, 217, 150);
        &:hover {
            box-shadow: -1px -1px 1px rgb(242, 170, 48), 0 0 0 4px rgba(0, 0, 0, 0.2), 1px 1px 1px rgb(242, 170, 48),
                inset 0 0 0 rgba(0, 0, 0, 0.2), inset 0.5rem 0.5rem 0.25rem rgb(255, 217, 150);
        }
        &:active {
            box-shadow: inset 1px 1px 1px rgb(255, 192, 84), 0 0 0 4px rgba(0, 0, 0, 0.1),
                inset -1px -1px 1px rgb(255, 217, 150), inset 0.5rem 0.5rem 0.75rem rgb(242, 170, 48),
                inset 0.5rem 0.5rem 0.5rem rgba(255, 255, 255, 0.2);
        }
    }
    &__finish {
    }
    &__track {
        display: block;
        margin-left: 5px;
        height: 100px;
        background: url('../../assets/3.png');
        background-repeat: no-repeat;
        z-index: 10;
    }
}

svg {
    display: block;
    width: 100px;
    height: 60px;
    margin-left: 10px;
}
