$main-color-green: #192f2d;

$main-color-header-green: radial-gradient(
    118.88% 606.86% at 0% 0%,
    rgba(36, 197, 219, 0.15) 0%,
    rgba(36, 197, 219, 0) 100%
);

$main-color-text-white: #ffffff;
