.contacts{
    &__name{
        font-family: 'Forum';
        font-size: 80px;
        font-style: normal;
        font-weight: 400;
        line-height: 90px;
        letter-spacing: 5px;
        text-align: left;
        color: $color-text-brown;
        margin: 66px 0 25px 0;
    }
    &__rectangle{
        @include red-line;
        margin-bottom: 75px;

    }
}

.frame{
    display: flex;
    justify-content: space-between;
    &__contacts{
        width: 282px;
        height: 244px;
    }
    &__name{
        color: black;
        font-family: 'Roboto';
        font-size: 28px;
        font-style: normal;
        font-weight: 500;
        line-height: 33px;
        letter-spacing: 0em;
        text-align: left;
        margin: 0 0 50px 0;
    }
    &__address{
        margin-bottom: 25px;
    }
    &__phone{
        margin-bottom: 25px;
    }
    &__mail{
        margin-bottom: 25px;
    }
    &__img{
        margin-bottom: 75px;
    }
}

.address{
    &__name{
        @include contacts__name-font;
        color: #000000;
    }
    &__paris{
        @include contacts__desc-font;
    }
}

.phone{
    &__name{
        @include contacts__name-font;
    }
    &__paris{
        @include contacts__desc-font;
        color: black;
        text-decoration: none;
    }
}

.mail{
    &__name{
        @include contacts__name-font;
    }
    &__paris{
        @include contacts__desc-font;
        color: black;
        text-decoration: none;
    }
}