.welcome{
    background-color: $color-black-background;
    &__inner{
    }
    &__bottom{

    }
    &__slider{

    }
    &__slider-num{

    }
    &__carousel{

    }
    &__arrows{

    }
}

.num{
    &__item{

    }
}

.carousel{
    &__item{

    }
}

.welcome{
    &__upper{
        display: flex;
        justify-content: space-between;

    }
    &__info{

    }
    &__header{
        color: $color-white-text;
        font-family: 'Forum';
        font-size: 80px;
        font-style: normal;
        font-weight: 400;
        line-height: 90px;
        letter-spacing: 5px;
        text-align: left;
    }
    &__description{
        color: $color-white-text;
        font-family: Roboto;
        font-size: 28px;
        font-style: normal;
        font-weight: 300;
        line-height: 33px;
        letter-spacing: 2px;
        text-align: left;
    }
    &__button{
        background-color: $color-line-red;
        color: $color-white-text;
        font-family: 'Roboto';
        font-size: 22px;
        font-style: normal;
        font-weight: 300;
        line-height: 26px;
        letter-spacing: 2px;
        text-align: center;
        padding: 24px 68px 24px 68px;
        border: none;
    }
    &__picture{

    }
    &__img{

    }
}