/* @import "../scss/fonts/_fonts.scss"; */
@import "./abstracts/_variables";
@import "./abstracts/_mixins";

@import "./base/_container";
@import "./layout/_header";
@import "./layout/_settings";
@import "./layout/_ticket";
@import "./layout/_picture_question";
@import "./layout/_categories";
@import "./layout/_grand";
@import "./layout/_game__over";
@import "./layout/_point";
@import "./layout/_footer";
@import "./layout/_art";
@import "./layout/_writer";
/* 
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
 */
@keyframes slideInUpper {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* .container {
  animation: 1s ease-out slideInFromLeft;
}
 */
.ticket__inner {
  animation: 1s ease-out slideInUpper;
}
