/* @font-face {
  font-family: "Forum";
  src: url(../../../assets/fonts/forum/Forum-Regular.woff2),
    url(../../../assets/fonts/forum/Forum-Regular.woff),
    url(../../../assets/fonts/forum/Forum-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
 */
