.tree__page {
    min-height: calc(100vh - 140px);
    background-image: url(../assets/main-page/main_background.png);

    &__blur {
        min-height: calc(100vh - 140px);
        background: rgba(22, 41, 41, 0.5);
        backdrop-filter: blur(3px);
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
}

.tree {
    &__settings {
        display: flex;
        flex-direction: column;
        width: 400px;
        justify-content: space-between;
        padding-top: 25px;
        padding-bottom: 25px;
    }
    &__toys {
        &__inner {
            height: 100%;
            width: 100%;
        }
        &__name {
            @include tree-setting-name;
        }
        &__container {
            display: flex;
            flex-wrap: wrap;
        }
    }
}

.snow__voice__setting {
    display: flex;
    justify-content: space-between;
    width: 120px;
}

.snow__setting {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/svg/snow.svg);
    width: 40px;
    height: 40px;
}

.music__setting {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../assets/svg/audio.svg);
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.christmas__tree {
    &__name {
        @include tree-setting-name;
    }
    &__list {
        display: grid;
        grid-gap: 2vw;
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(3, 1fr);
    }
    &__item {
        @include christmas-tree-box;
        &:nth-child(1) {
            background-repeat: no-repeat;
            background-size: auto 111px;
            background-position: center;
            background-image: url(../assets/tree-page/tree/1.png);
        }
        &:nth-child(2) {
            background-repeat: no-repeat;
            background-size: auto 111px;
            background-position: center;
            background-image: url(../assets/tree-page/tree/2.png);
        }
        &:nth-child(3) {
            background-repeat: no-repeat;
            background-size: auto 111px;
            background-position: center;
            background-image: url(../assets/tree-page/tree/3.png);
        }
        &:nth-child(4) {
            background-repeat: no-repeat;
            background-size: auto 111px;
            background-position: center;
            background-image: url(../assets/tree-page/tree/4.png);
        }
        &:nth-child(5) {
            background-repeat: no-repeat;
            background-size: auto 111px;
            background-position: center;
            background-image: url(../assets/tree-page/tree/5.png);
        }
        &:nth-child(6) {
            background-repeat: no-repeat;
            background-size: auto 111px;
            background-position: center;
            background-image: url(../assets/tree-page/tree/6.png);
        }
    }
}

.christmas__background {
    &__setting {
        @include tree-setting-container;
    }
    &__name {
        @include tree-setting-name;
    }
    &__list {
        display: grid;
        grid-gap: 1vw;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }
    &__item {
        width: 65px;
        height: 65px;
        background-color: rgba(22, 41, 41, 0.5);
        cursor: pointer;
        border-radius: 10px;
        border: 1px solid #cccc;
        &:nth-child(1) {
            background-repeat: no-repeat;
            background-size: auto 111px;
            background-position: center;
            background-image: url(../assets/tree-page/bg/1.jpg);
        }
        &:nth-child(2) {
            background-repeat: no-repeat;
            background-size: auto 111px;
            background-position: center;
            background-image: url(../assets/tree-page/bg/2.jpg);
        }
        &:nth-child(3) {
            background-repeat: no-repeat;
            background-size: auto 111px;
            background-position: center;
            background-image: url(../assets/tree-page/bg/3.jpg);
        }
        &:nth-child(4) {
            background-repeat: no-repeat;
            background-size: auto 111px;
            background-position: center;
            background-image: url(../assets/tree-page/bg/4.jpg);
        }
        &:nth-child(5) {
            background-repeat: no-repeat;
            background-size: auto 111px;
            background-position: center;
            background-image: url(../assets/tree-page/bg/5.jpg);
        }
        &:nth-child(6) {
            background-repeat: no-repeat;
            background-size: auto 111px;
            background-position: center;
            background-image: url(../assets/tree-page/bg/6.jpg);
        }
        &:nth-child(7) {
            background-repeat: no-repeat;
            background-size: auto 111px;
            background-position: center;
            background-image: url(../assets/tree-page/bg/7.jpg);
        }
        &:nth-child(8) {
            background-repeat: no-repeat;
            background-size: auto 111px;
            background-position: center;
            background-image: url(../assets/tree-page/bg/8.jpg);
        }
        &:nth-child(9) {
            background-repeat: no-repeat;
            background-size: auto 111px;
            background-position: center;
            background-image: url(../assets/tree-page/bg/9.jpg);
        }
        &:nth-child(10) {
            background-repeat: no-repeat;
            background-size: auto 111px;
            background-position: center;
            background-image: url(../assets/tree-page/bg/10.jpg);
        }
    }
}

.garlands {
    &__setting__color {
    }
    &__name {
    }
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 200px;
    }
    &__item {
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 1px solid gray;
    }
    &__toggle__button {
    }
}

.tree {
    &__background {
        margin: 0 60px;
        border-radius: 10px;
        width: 800px;
        height: 796px;
        background-image: url(../assets/tree-page/bg/1.jpg);
        background-size: auto 800px;
        background-repeat: no-repeat;
        transition: 0.3s ease-in-out;
    }
    &__toys {
        width: 400px;
    }
    &__form {
        display: block;
        margin-top: 60px;
        position: relative;
        width: 500px;
        height: 715px;
        margin-left: auto;
        margin-right: auto;
        background-repeat: no-repeat;
        background-size: cover;
        transition: 0.3s ease-in-out;
    }
}

.multicolor {
    background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8);
}

.red-color {
    background-color: red;
}

.blue-color {
    background-color: blue;
}

.yellow-color {
    background-color: yellow;
}

.green-color {
    background-color: green;
}

.flake__snow {
    display: inline-block;
    font-family: weathericons;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    z-index: 50;
}

@keyframes fall {
    from {
        transform: translateY(-10vh);
    }
    to {
        transform: translateY(100vh);
    }
}

.flake {
    color: rgb(247, 252, 243);
    font-size: 1.2rem;
    padding: 2px 2px;
    animation: fall 2s linear forwards infinite;
    animation-delay: 1s;
}

@keyframes fall {
    from {
        transform: translateY(-10vh);
    }
    to {
        transform: translateY(90vh);
    }
}

.wi {
    position: relative;
    display: inline-block;
    font-family: weathericons;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    z-index: 50;
}
.wi-fw {
    text-align: center;
    width: 1.4em;
}
.wi-rotate-90 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}
.wi-rotate-180 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}
.wi-rotate-270 {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
    -webkit-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
}
.wi-flip-horizontal {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1);
    -webkit-transform: scale(-1, 1);
    -ms-transform: scale(-1, 1);
    transform: scale(-1, 1);
}
.wi-flip-vertical {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1);
    -webkit-transform: scale(1, -1);
    -ms-transform: scale(1, -1);
    transform: scale(1, -1);
}

.wi-snowflake-cold:before {
    content: '\f076';
}

.snowflakes {
    position: absolute;
    top: -70px;
    visibility: hidden;

    &__active {
        visibility: visible;
    }
}

.garlands__container {
    margin-top: 50px;
    padding-bottom: 100px;
    display: flex;
    height: 600px;

    width: 600px;
    z-index: 100;
    position: absolute;
    transform: rotate(90deg);
    align-items: center;
    justify-content: space-between;
    pointer-events: none;
}

.garlands__color {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.garlands__color > li {
    margin: 6px 6px;
    list-style-type: none;
    width: 7.2px;
    height: 7.2px;
    border-radius: 10px;
    z-index: 25;
    &:nth-child(1) {
        animation-name: flash;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
    &:nth-child(2) {
        animation-name: flash;
        animation-duration: 1.1s;
        animation-iteration-count: infinite;
    }
    &:nth-child(3) {
        animation-name: flash;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
    &:nth-child(4) {
        animation-name: flash;
        animation-duration: 1.3s;
        animation-iteration-count: infinite;
    }
    &:nth-child(5) {
        animation-name: flash;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
    &:nth-child(6) {
        animation-name: flash;
        animation-duration: 1.4s;
        animation-iteration-count: infinite;
    }
    &:nth-child(7) {
        animation-name: flash;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
    &:nth-child(8) {
        animation-name: flash;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
    }
    &:nth-child(9) {
        animation-name: flash;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
    &:nth-child(10) {
        animation-name: flash;
        animation-duration: 1.6s;
        animation-iteration-count: infinite;
    }
    &:nth-child(11) {
        animation-name: flash;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
    &:nth-child(12) {
        animation-name: flash;
        animation-duration: 1.7s;
        animation-iteration-count: infinite;
    }

    &:nth-child(13) {
        animation-name: flash;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
    &:nth-child(14) {
        animation-name: flash;
        animation-duration: 1.8s;
        animation-iteration-count: infinite;
    }
    &:nth-child(15) {
        animation-name: flash;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
    &:nth-child(16) {
        animation-name: flash;
        animation-duration: 1.9s;
        animation-iteration-count: infinite;
    }
    &:nth-child(17) {
        animation-name: flash;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
    &:nth-child(18) {
        animation-name: flash;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
}

@keyframes flash {
    0% {
    }
    100% {
        opacity: 0.6;
    }
}

//Игрушки drag n drop
.tree__toys__card {
    border: 1px solid gray;
    border-radius: 10px;
    width: 70px;
    height: 70px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, 0.5);
}

.dragn__img {
    position: absolute;
    width: 50px;
    height: 50px;
    margin-bottom: 20px;
    overflow: hidden;
    cursor: move;
    z-index: 35;
}

.img__count {
    border-radius: 25%;
    border: 1px solid rgb(0, 0, 0);
    background-color: #24c5db;
    width: 20px;
    height: 20px;
    position: relative;
    margin-left: 50px;
    margin-top: 50px;
}

.count {
    position: relative;
    left: 30%;
}
