.setting {
    &__toys {
        min-height: calc(100vh - 140px);
        background-image: url(../assets/main-page/main_background.png);
        &__blur {
            min-height: calc(100vh - 140px);
            background: rgba(22, 41, 41, 0.5);
            backdrop-filter: blur(3px);
        }
        &__inner {
        }
    }
}

.filter {
    &__toys {
        display: flex;
        justify-content: space-between;
        &__value {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgba(31, 112, 127, 0.3);
            backdrop-filter: blur(6px);
            border-radius: 10px;
            @include toys-box-size;
            @include toys-fonts-style;
        }
        &__range {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgba(31, 112, 127, 0.3);
            backdrop-filter: blur(6px);
            border-radius: 10px;
            @include toys-box-size;
        }
        &__sort {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgba(31, 112, 127, 0.3);
            backdrop-filter: blur(6px);
            border-radius: 10px;
            @include toys-box-size;
        }
    }
}

.value {
    &__name {
        @include toys-fonts-style;
    }
    &__setting {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 240px;
    }
    &__form {
    }
    &__color {
    }
    &__size {
    }
    &__liked {
        height: 30px;
        margin-bottom: 20px;
    }
}

.range {
    &__name {
        @include toys-fonts-style;
    }
    &__setting {
        &__instance {
            width: 340px;
            margin-top: 50px;
            margin-bottom: 60px;
        }
        &__year {
            width: 340px;
        }
    }
}

.sort {
    &__name {
        margin-top: 0px;
        @include toys-fonts-style;
    }
    &__setting {
    }
    &__letter {
    }
    &__reset {
    }
}

.toys {
    margin-top: 50px;
    &__inner {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(0, 320px));
    }
    &__box {
        margin-left: 10px;
        @include toys-fonts-style;
        width: 300px;
        height: 280px;
        background-color: rgba(31, 112, 127, 0.3);
        backdrop-filter: blur(6px);
        border: 2px solid #278d9f;
        border-radius: 5%;
        cursor: pointer;
        margin-bottom: 20px;
    }
    &__wrapper {
        margin-top: 30px;
        display: flex;
    }
    &__name {
        margin: 20px 0;
        text-align: center;
    }
    &__description {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: 10px;
        width: 300px;
        height: 180px;
    }
    &__number {
    }
    &__year {
    }
    &__form {
    }
    &__color {
    }
    &__size {
    }
    &__liked {
    }
    &__img {
        display: flex;
        justify-content: end;
        width: 100%;
        &__garland {
            width: 100px;
            height: 100px;
        }
    }
}

.toys__amount {
}

.year__number {
}

.from__view {
}

.color__view {
}

.size__view {
}

.liked__toy {
}

.form__btn {
    &:hover {
        @include blackout;
    }
    &:first-child {
        @include form-button;
        background-image: url(../assets/svg/ball.svg);
    }
    &:nth-child(2) {
        @include form-button;
        background-image: url(../assets/svg/bell.svg);
    }
    &:nth-child(3) {
        @include form-button;
        background-image: url(../assets/svg/cone.svg);
    }
    &:nth-child(4) {
        @include form-button;
        background-image: url(../assets/svg/snowflake.svg);
    }
    &:last-child {
        @include form-button;
        background-image: url(../assets/svg/toy.svg);
    }
}

.size__btn {
    &:hover {
        @include blackout;
    }
    &:first-child {
        margin-left: 20px;
        background-size: cover;
        width: 50px;
        height: 50px;
        background-image: url(../assets/svg/ball.svg);
    }
    &:nth-child(2) {
        margin-left: 20px;
        background-size: cover;
        width: 40px;
        height: 40px;
        background-image: url(../assets/svg/ball.svg);
    }
    &:last-child {
        margin-left: 20px;
        background-size: cover;
        width: 32px;
        height: 32px;
        background-image: url(../assets/svg/ball.svg);
    }
}

.color__btn {
    transition: 0.3s;
    &:hover {
        @include colorButton;
    }
    &:first-child {
        @include color-button;
        margin-left: 20px;
        background-color: white;
    }
    &:nth-child(2) {
        @include color-button;
        background-color: yellow;
    }
    &:nth-child(3) {
        @include color-button;
        background-color: red;
    }
    &:nth-child(4) {
        @include color-button;
        background-color: blue;
    }
    &:last-child {
        @include color-button;
        background-color: greenyellow;
    }
}

.sort {
    &__btn {
        display: flex;
        justify-content: space-between;
        margin-top: 120px;
        width: 350px;
    }
    &__reset {
        @include sort-button;
    }
    &__save {
        @include sort-button;
    }
}

.active {
    filter: invert(8%) sepia(100%) saturate(6481%) hue-rotate(246deg) brightness(102%) contrast(143%);
    transition: 1s;
}

.active__color {
    background-image: url(../assets/svg/checkmark.svg);
    background-repeat: no-repeat;
    background-size: cover;
}

.slider__count {
    &__name {
        font-family: 'Neucha';
        color: white;
        font-size: 18px;
        margin-bottom: 20px;
        margin-left: 50px;
    }
    width: 300px;
    height: 20px;
}

.slider__year {
    width: 300px;
    height: 20px;
    &__name {
        font-family: 'Neucha';
        color: white;
        font-size: 18px;
        margin-bottom: 20px;
        margin-left: 70px;
    }
}

.sort__letter {
    font-family: 'Neucha';
    color: white;
    background-color: #183e42;
    font-size: 18px;
    width: 380px;
    height: 40px;
    border-radius: 30px;
    padding: 5px 25px;
}

option {
    font-family: 'Neucha';
    color: white;
    background-color: #183e42;
}

#search__data {
    width: 300px;
    border-radius: 10px;
    height: 25px;
    background-color: rgba(31, 112, 127, 0.3);
    color: white;
    font-family: 'Neucha';
    font-size: 18px;
    padding: 5px 15px;
    border: 1px solid #278d9f;
}

.form__name {
    display: flex;
    align-items: center;
}

.color__name {
    display: flex;
    align-items: center;
}

/* custom checkbox */
input[type='checkbox'] {
    visibility: hidden;
    position: relative;
    font: inherit;
    color: inherit;
    margin: 1em;
    cursor: pointer;
}

input[type='checkbox']:before,
input[type='checkbox']:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: visible;
    width: 1.4em;
    height: 1.4em;
    box-sizing: border-box;
    background-color: rgb(55, 0, 128);
}

input[type='checkbox']:before {
    border-radius: 1em;
    border: 3px solid #4307e6;
    transition: border 0.1s ease-out;
}

input[type='checkbox'].liked__toys:before {
    border-color: rgba(9, 4, 31, 0.3);
}

input[type='checkbox']:checked:before {
    border-width: 1em;
    border-radius: 10px;
}

input[type='checkbox']:after {
    content: '✓';
    text-align: center;
    line-height: 1.4em;
    font-weight: bolder;
    overflow: hidden;
    opacity: 0;
    transition: opacity 0.3s ease-in;
}

input[type='checkbox']:checked:after {
    opacity: 1;
}

//Слайдер
.noUi-connect {
    background: rgb(2, 36, 41);
}
.noUi-horizontal .noUi-handle,
.noUi-vertical .noUi-handle {
    background: rgb(2, 4, 31);
}
.noUi-target.noUi-horizontal .noUi-tooltip {
    background-color: rgb(245, 245, 245);
}

.noUi-target {
    height: 10px;
}

.noUi-horizontal .noUi-handle {
    width: 34px;
    height: 28px;
    right: -17px;
    top: -10px;
}

.noUi-tooltip {
    width: 40px;
    height: 100%;
    border-radius: 10px;
    color: rgba(45, 35, 196, 0.884);
    font-family: 'Neucha';
}

.noUi-handle {
    border-radius: 10px;
}

.noUi-handle:before,
.noUi-handle:after {
    display: block;
    position: absolute;
    height: 14px;
    width: 1px;
    background: #e8e7e6;
    left: 14px;
    top: 6px;
}

.noUi-handle:before,
.noUi-handle:after {
    all: revert;
}

.noUi-horizontal .noUi-handle,
.noUi-vertical .noUi-handle {
    background-color: rgba(6, 7, 95, 0.918);
}
