.gallery {
  background-color: $color-black-background;
  &__inner {
  }
  &__name {
    font-family: "Forum";
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: 5px;
    text-align: left;
    color: $color-white-text;
    padding-top: 75px;
  }
  &__img {
    margin: 12px 0;
    max-width: 100%;
    /*         transform: translateY(100px); */
    transition: 0.3s ease-in-out;
  }
}

.scroll-img {
  transition: 0.8s ease 0s;
  transform: translate(0, 200px);
}

.gallery {
  &__items {
    display: flex;
    column-gap: 36px;
  }
}

@media (max-width: 1024px) {
  .gallery {
    &__name {
      @include explore-name_24;
    }
  }
}

@media (max-width: 768px) {
  .gallery {
    &__name {
      @include picture-exploer_68;
    }
    &__right {
      display: none;
    }
  }
}

@media (max-width: 420px) {
}
