.art {
  &__wrapper {
    background-image: url("../../assets/img/background/j-retrato-de-cardenal-rafael\ 1.png");
    background-repeat: no-repeat;
    background-position: top;
    height: 600px;
  }
  &__name {
  }
  &__quiz {
    display: flex;
    justify-content: space-between;
    max-width: 614px;
    max-height: 62px;
  }
}

.artist {
  &__quiz {
    max-width: 287px;
    max-height: 62px;
  }
  &__button {
    cursor: pointer;
    @include button-color;
    @include button-position-center;
  }
  &__text {
    color: $white-color;
  }
}

.picture {
  &__quiz {
  }
  &__button {
    cursor: pointer;
    @include button-color;
    @include button-position-center;
  }
  &__text {
    color: $white-color;
  }
}
