.art {
  &__wrapper {
    background-image: url("../../assets/img/background/j-retrato-de-cardenal-rafael\ 1.png");
    background-repeat: no-repeat;
    background-position: top;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
  }
  &__name {
    margin-top: 150px;
    height: 100px;
    max-width: 100%;
    font-family: Gilroy;
    font-size: 111px;
    font-style: normal;
    font-weight: 700;
    line-height: 159px;
    letter-spacing: -2.423408031463623px;
    text-align: center;
  }
  &__quiz {
    margin-top: 150px;
    display: flex;
    justify-content: space-between;
    width: 714px;
    max-height: 62px;
  }
  &__box {
    color: $white-color;
  }
}

.artist {
  &__quiz {
    max-width: 287px;
    max-height: 62px;
  }
  &__button {
    cursor: pointer;
    @include button-color;
    @include button-position-center;
  }
  &__text {
    color: $white-color;
    font-family: Gilroy;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -1.147661805152893px;
    text-align: center;
  }
}

.picture {
  &__button {
    cursor: pointer;
    @include button-color;
    @include button-position-center;
  }
  &__text {
    color: $white-color;
    font-family: Gilroy;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -1.147661805152893px;
    text-align: center;
  }
}
