.categories {
  &__inner {
  }
  &__footer {
    height: 62px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
    display: flex;
    justify-content: space-around;
  }
  &__heading {
  }
  &__name {
    color: $white-color;
  }
  &__setting {
  }
}

.illustration {
  &__category {
    margin-top: 125px;
    display: flex;
    justify-content: space-between;
  }
  &__box {
    height: 239px;
    max-width: 193px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__heading {
    display: flex;
    justify-content: space-between;
    color: $white-color;
  }
  &__name {
    color: $white-color;
  }
  &__score {
    color: $pink-color;
  }
  &__image {
  }
  &__img {
    filter: grayscale(100%);
    border-radius: 10px;
  }
}
