.categories {
  &__inner {
  }
  &__footer {
    height: 62px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__text {
    display: flex;
    justify-content: space-around;
  }
  &__heading {
  }
  &__name {
    color: $white-color;
  }
  &__setting {
  }
}

.illustration {
  &__category {
    margin-top: 125px;
    display: grid;
    row-gap: 10px;
    column-gap: 0px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
  }
  &__box {
    height: 239px;
    max-width: 193px;
  }
  &__heading {
    display: flex;
    justify-content: space-between;
    color: $white-color;
  }
  &__name {
    color: $white-color;
  }
  &__score {
    color: $pink-color;
  }
  &__image {
    cursor: pointer;
  }
  &__img {
    height: 210px;
    filter: grayscale(100%);
    border-radius: 10px;
  }
}
