.grand {
  &__inner {
  }
  &__box {
    @include box-card;
  }
  &__start {
  }
  &__img {
  }
  &__text {
  }
  &__congratulations {
  }
  &__button {
    width: 422px;
    height: 62px;
    border-radius: 50px;
    border: 2px solid $pink-color;
    background-color: $pink-color;
    @include button-position-center;
  }
}
