.picture {
  max-width: 829px;
  height: 498px;
  &__inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
  }
  &__timer {
    display: flex;
    justify-content: center;
  }
  &__time {
    color: $white-color;
  }
  &__box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  &__authors {
    display: grid;
    grid-template-rows: 2fr 1fr 0fr 0fr;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}

.authors {
  &__inner {
    width: 400px;
    height: 62px;
    border: 2px solid $white-color;
    border-radius: 35px;
    &:hover {
      background-color: $pink-color;
      border-color: $pink-color;
    }
  }
}

.author {
  width: 100%;
  height: 100%;
  line-height: 60px;
  text-align: center;
  color: $white-color;
  cursor: pointer;
}
