.point {
  &__inner {
    @include innerCard;
  }
  &__box {
    @include box-setting;
  }
  &__text {
    font-family: Gilroy;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 78px;
    letter-spacing: 0em;
    text-align: center;
  }
  &__number {
    font-family: Gilroy;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 102px;
    letter-spacing: 0em;
    text-align: center;
  }
  &__button {
    display: flex;
    width: 522px;
    justify-content: space-around;
  }
  &__home {
    cursor: pointer;
    width: 210px;
    height: 62px;
    border: 2px solid $black-color;
    border-radius: 50px;
    @include button-position-center;
  }
  &__next {
    cursor: pointer;
    @include button-position-center;
    width: 210px;
    height: 62px;
    border-radius: 50px;
    border: 2px solid $pink-color;
    background-color: $pink-color;
  }
}

@keyframes slideInUpper {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateX(0);
  }
}

.point__inner {
  animation: 1s ease-out slideInUpper;
}
