.setting {
  &__wrapper {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
  }
  &__header {
    display: flex;
    justify-content: space-between;
  }
  &__inner {
    display: flex;
    width: 100px;
    justify-content: space-around;
  }
  &__arrow {
    cursor: pointer;
  }
  &__text {
    color: $white-color;
    @include button-text;
  }
  &__volume {
    @include flex-colum-center;
    align-items: center;
    margin-top: 50px;
  }
  &__img {
    cursor: pointer;
  }
}

.button__close {
  cursor: pointer;
}

.volume {
  &__inner {
    max-width: 492px;
    height: 140px;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
  }
  &__text {
    color: $white-color;
  }
  &__sound {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.time {
  &__inner {
    width: 300px;
  }
  &__game {
    @include button-text;
    display: flex;
    color: $white-color;
    justify-content: space-evenly;
  }
  &__state {
    color: $white-color;
  }
  &__answer {
    margin-top: 50px;
    max-width: 227px;
    height: 104px;
    color: $white-color;
    display: flex;
    flex-direction: column;
    @include button-text;
  }
  &__bottom {
    display: flex;
    justify-content: space-evenly;
  }
  &__minus {
    @include button-plus-minus;
    line-height: 30px;
    font-size: 35px;
  }
  &__text {
    height: 28px;
    width: 28px;
    left: 165px;
    top: 679px;
    color: $white-color;
  }
  &__plus {
    @include button-plus-minus;
  }
}

.answer {
  height: 47px;
}

.setting {
  &__selection {
    width: 700px;
  }
}

.setting {
  &__button {
    cursor: pointer;
    @include button-setting;
    @include button-position-center;
    background-color: $pink-color;
    border-color: $black-color;
  }
  &__save {
    @include button-text;
    color: $white-color;
  }
}

.save__inner {
  display: flex;
  justify-content: space-between;
}

.default {
  &__button {
    cursor: pointer;
    @include button-setting;
    @include button-position-center;
    border-color: $white-color;
  }
  &__save {
    @include button-text;
    color: $white-color;
  }
}

#switch {
  width: 0;
  height: 0;
  visibility: hidden;
}

.switch__time {
  width: 48px;
  height: 26px;
  display: block;
  background-color: $pink-color;
  border-radius: 100px;
  cursor: pointer;
  position: relative;
  transition: 0.5s;
  box-shadow: 0 0 20px #477a8550;
  &:after {
    content: "";
    width: 24px;
    height: 24px;
    background-color: #e8f5f7;
    position: absolute;
    border-radius: 70px;
    top: 1px;
    left: 1px;
    transition: 0.5s;
  }
}

#switch:checked + .switch__time:after {
  left: calc(100%);
  transform: translateX(-100%);
}
