.ticket {
  &__inner {
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000000, $alpha: 0.8);
  }
  &__box {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    @include box-card;
    height: 689px;
    width: 522px;
  }
  &__img {
    position: relative;
  }
  &__status {
  }
  &__image {
    width: 462px;
    height: 416px;
    border-radius: 25px;
  }
}

.winner {
  &__status {
    position: absolute;
    bottom: 40px;
    left: 40px;
  }
  &__button {
  }
}

.picture {
  &__name {
    @include button-text;
  }
  &__creature {
    @include button-text;
  }
  &__btn {
    @include button-text;
    width: 400px;
    height: 62px;
    border-radius: 50px;
    border: 2px solid;
    border-color: $pink-color;
    background-color: $pink-color;
    cursor: pointer;
    @include button-position-center;
  }
}
