@mixin red-line{
    border: none;
    background-color: $color-line-red;
    height: 2px;
}

@mixin black-virtual-name{
    color: #000000;
}

@mixin black-virtual-desc{
    color: #000000;
}

@mixin radio-button-style{
    font-family: 'Roboto';
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

@mixin tickets__name{
    font-family: 'Roboto';
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    text-align: left;
}

@mixin amount__name-font{
    font-family: 'Roboto';
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

@mixin contacts__name-font{
    font-family: 'Roboto';
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

@mixin contacts__desc-font{
    font-family: 'Roboto';
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0em;
    text-align: left;
}

@mixin footer-font{
    font-family: 'Roboto';
    font-size: 22px;
    font-style: normal;
    font-weight: 200;
    line-height: 22px;
    letter-spacing: 2px;
    text-align: left;
}

@mixin button-border{
    position: relative;
    width: 38px;
    height: 38px;
    background-color: $color-white-text;
    border: none;
}