.footer{
    background-color: $color-black-background;
    &__inner{

    }
    &__upper{
        display: flex;
        justify-content: space-between;
    }
    &__logo{
        margin: 75px 0 159px 0;
        display: flex;
        align-items: center;
    }
    &__img{

    }
    &__louvre{
        padding-top: 10px;
        color: $color-white-text;
        font-family: 'Forum';
        font-size: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: 31px;
        letter-spacing: 5px;
        text-align: left;
        padding-left: 25px;
    }
    &__nav{
        margin: 80px 0 50px 0;
        width: 363px;
        height: 128px;
        padding-right: 200px;
    }
    &__social{
        display: flex;
        //width: 340px;
    }
    &__items{
        list-style-type: none;
        height: 100px;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 540px;
    }
    &__item{

    }
    &__link{
        text-decoration: none;
        color: $color-white-text;
        font-family: 'Roboto';
        font-size: 22px;
        font-style: normal;
        font-weight: 200;
        line-height: 26px;
        letter-spacing: 2px;
        text-align: left;
    }

}

.footer{
    &__bottom{
        display: flex;
        justify-content: space-between;

    }
    &__date{
        color: $color-white-text;
        @include footer-font;
        margin: 50px 0 50px 0;
    }
    &__copyright{
        color: $color-white-text;
        @include footer-font;
        margin: 50px 0 50px 0;
    }
    &__name{
        color: $color-white-text;
        @include footer-font;
        margin: 50px 0 50px 0;
    }
}

.social{
    &__items{
        list-style-type: none;
        display: flex;
        align-items: center;
    }
    &__rect{
        text-decoration: none;
        padding-left: 50px;
    }
    &__circle{

    }
    &__item{
        border: 1px solid $color-white-text;
        border-radius: 50%;
        width: 20px;
        padding: 16px;
        height: 20px;
        margin: 0 auto;
        cursor: pointer;
        &:hover{
            border: 1px solid #FFD700
        }
    }
}

.footer__rect{
    border: none;
    background-color: #666666;
    height: 2px;
}