@import './components/scssSettings/globalSetting.scss';

html,
body {
    height: 100%;
    background-color: #455281;
}

.container {
    margin: 0 auto;
    max-width: 1850px;
}

.header {
    height: 100px;
    &__inner {
    }
}

.navigation {
    &__menu {
        list-style-type: none;
        display: flex;
        justify-content: space-around;
    }
    &__garage {
        @include buttonCar;
        @include buttonMain;
        background-color: $gray-button-color;
        @include centerButtonText;
        &__link {
            @include resetButtonLink;
            font-family: 'Box2';
        }
    }
    &__winners {
        @include buttonCar;
        @include buttonMain;
        background-color: $gray-button-color;
        @include centerButtonText;
        &__link {
            @include resetButtonLink;
            font-family: 'Box2';
        }
    }
    &__link {
        /*  @include centerButtonText; */
    }
}

.main {
    height: 75%;
    display: block;
    &__border {
    }
}

.footer {
    display: block;
    height: 70px;
    &__inner {
    }
    &__creator {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__logo {
    }
}

.copyright {
}

.year__create {
}

.github__link {
    @include resetButtonLink;
    cursor: pointer;
}

.pixelated-scroll {
    width: 100%;
    image-rendering: pixelated;
    background-image: url(https://codeshack.io/web/img/uploads/pixelated-buildings.png);
    background-size: 50%;
    background-repeat: repeat-x;
    background-position: left bottom;
    border-bottom: 100px solid black;
    box-sizing: border-box;
    animation: slide 10s linear infinite;
    z-index: -5;
}
@keyframes slide {
    from {
        background-position: left bottom;
    }
    to {
        background-position: 100% bottom;
    }
}
