@font-face {
  font-family: "Forum";
  src: url(../../../assets/fonts/forum/Forum-Regular.woff2), url(../../../assets/fonts/forum/Forum-Regular.woff), url(../../../assets/fonts/forum/Forum-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url(../../../assets/fonts/roboto/Roboto-Thin.woff2), url(../../../assets/fonts/roboto/Roboto-Thin.woff), url(../../../assets/fonts/roboto/Roboto-Thin.ttf);
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url(../../../assets/fonts/roboto/Roboto-ThinItalic.woff2), url(../../../assets/fonts/roboto/Roboto-ThinItalic.woff), url(../../../assets/fonts/roboto/Roboto-ThinItalic.ttf);
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url(../../../assets/fonts/roboto/Roboto-Light.woff2), url(../../../assets/fonts/roboto/Roboto-Light.woff), url(../../../assets/fonts/roboto/Roboto-Light.ttf);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url(../../../assets/fonts/roboto/Roboto-LightItalic.woff2), url(../../../assets/fonts/roboto/Roboto-LightItalic.woff), url(../../../assets/fonts/roboto/Roboto-LightItalic.ttf);
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url(../../../assets/fonts/roboto/Roboto-Regular.woff2), url(../../../assets/fonts/roboto/Roboto-Regular.woff), url(../../../assets/fonts/roboto/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url(../../../assets/fonts/roboto/Roboto-Medium.woff2), url(../../../assets/fonts/roboto/Roboto-Medium.woff), url(../../../assets/fonts/roboto/Roboto-Medium.ttf);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url(../../../assets/fonts/roboto/Roboto-MediumItalic.woff2), url(../../../assets/fonts/roboto/Roboto-MediumItalic.woff), url(../../../assets/fonts/roboto/Roboto-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url(../../../assets/fonts/roboto/Roboto-Bold.woff2), url(../../../assets/fonts/roboto/Roboto-Bold.woff), url(../../../assets/fonts/roboto/Roboto-Bold.ttf);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url(../../../assets/fonts/roboto/Roboto-BoldItalic.woff2), url(../../../assets/fonts/roboto/Roboto-BoldItalic.woff), url(../../../assets/fonts/roboto/Roboto-BoldItalic.ttf);
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url(../../../assets/fonts/roboto/Roboto-Black.woff2), url(../../../assets/fonts/roboto/Roboto-Black.woff), url(../../../assets/fonts/roboto/Roboto-Black.ttf);
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url(../../../assets/fonts/roboto/Roboto-BlackItalic.woff2), url(../../../assets/fonts/roboto/Roboto-BlackItalic.woff), url(../../../assets/fonts/roboto/Roboto-BlackItalic.ttf);
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

.parallax {
  height: 400px;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../../../assets/img/parallax_high.jpg);
}

.container {
  margin: 0 auto;
  max-width: 1440px;
}

.header {
  background-color: #030303;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  margin: 37px 0 37px 0;
}

.header__louvre {
  color: #FFFFFF;
  font-family: 'Forum';
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 5px;
  text-align: left;
  padding-left: 25px;
  margin-bottom: 20px;
}

.header__items {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.header__item {
  padding-left: 54px;
}

.header__link {
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Roboto';
  font-size: 22px;
  font-style: normal;
  font-weight: 200;
  line-height: 26px;
  letter-spacing: 2px;
  text-align: left;
}

h1 {
  display: none;
}

.welcome {
  background-color: #030303;
}

.welcome__upper {
  display: flex;
  justify-content: space-between;
}

.welcome__header {
  color: #FFFFFF;
  font-family: 'Forum';
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  text-align: left;
}

.welcome__description {
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 28px;
  font-style: normal;
  font-weight: 300;
  line-height: 33px;
  letter-spacing: 2px;
  text-align: left;
}

.welcome__button {
  background-color: #710707;
  color: #FFFFFF;
  font-family: 'Roboto';
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 2px;
  text-align: center;
  padding: 24px 68px 24px 68px;
  border: none;
}

.virtual__header {
  color: #9D8665;
  font-family: Forum;
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  text-align: left;
  margin-bottom: 25px;
}

.virtual__rectangle {
  border: none;
  background-color: #710707;
  height: 2px;
  margin-bottom: 75px;
}

.virtual__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.palace {
  text-decoration: none;
}

.palace__name {
  color: #000000;
  font-family: 'Forum';
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 5px;
  text-align: left;
  margin-top: 21px;
  margin-bottom: 10px;
}

.palace__rectangle {
  border: none;
  background-color: #710707;
  height: 2px;
  width: 68%;
}

.palace__tour {
  color: #000000;
  font-family: 'Roboto';
  font-size: 22px;
  font-style: normal;
  font-weight: 200;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 0px;
}

.palace__google {
  color: #000000;
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
  font-weight: 200;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 10px;
}

.royal__wrapper {
  margin-bottom: 53px;
  width: 424px;
}

.journey__header {
  color: #9D8665;
  font-family: 'Forum';
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  text-align: left;
}

.journey__description {
  font-family: 'Roboto';
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
}

.journey__items {
  margin-top: 55px;
}

.video {
  display: flex;
  justify-content: space-between;
}

.journey__arrow {
  position: absolute;
  left: 45%;
  top: 3500px;
}

.journey__img {
  display: block;
}

.img__line {
  display: flex;
  justify-content: space-between;
  height: 85px;
  align-items: center;
  background-color: #030303;
}

.img__line-video {
  background: linear-gradient(to right, #ff0000 0%, #eb0303 50%, #fff 50%, #fff 100%);
  border: solid 1px #82CFD0;
  border-radius: 8px;
  height: 7px;
  width: 926px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.img__sound-line {
  background: linear-gradient(to right, #ff0000 0%, #eb0303 50%, #fff 50%, #fff 100%);
  border: solid 1px #82CFD0;
  border-radius: 8px;
  height: 7px;
  width: 155px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.img__btn-arrow {
  border: none;
  background-color: black;
}

.img__btn-sound {
  background-color: black;
  border: none;
}

.img__btn-line {
  background-color: black;
  border: none;
}

.explore {
  background-color: #030303;
}

.explore__inner {
  display: flex;
  justify-content: space-between;
}

.explore__name {
  color: #FFFFFF;
  font-family: 'Forum';
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  text-align: left;
  margin: 67px 0 25px 0;
}

.explore__line {
  border: none;
  background-color: #710707;
  height: 2px;
  margin-bottom: 75px;
}

.explore__description {
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 0 25px 0;
}

.explore__yellow {
  color: #CAAA7D;
}

.explore__img-left {
  margin-top: 75px;
  margin-bottom: 75px;
}

.picture__explore {
  margin-right: 60px;
}

.gallery {
  background-color: #030303;
}

.gallery__name {
  font-family: 'Forum';
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  text-align: left;
  color: #FFFFFF;
  padding-top: 75px;
}

.gallery__img:first-child {
  margin: 0 32px -110px 0;
}

.gallery__img:nth-child(2) {
  margin: 0 32px  24px 0;
}

.gallery__img:nth-child(3) {
  margin: 0 0 -150px 0;
}

.gallery__img:nth-child(4) {
  margin: 24px 32px -150px 0;
}

.gallery__img:nth-child(5) {
  margin: 0 32px 0 0;
}

.gallery__img:nth-child(6) {
  margin: 0 0 -70px 0;
}

.gallery__img:nth-child(7) {
  margin: 0 32px -82px 0;
}

.gallery__img:nth-child(8) {
  margin: 24px 32px -32px 0;
}

.gallery__img:nth-child(10) {
  margin: 0 32px 0 0;
}

.gallery__img:last-child {
  margin-top: 24px;
  margin-left: 32px;
}

.tickets__name {
  color: #9D8665;
  font-family: 'Forum';
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  text-align: left;
  margin: 75px 0 25px 0;
}

.tickets__rectangle {
  border: none;
  background-color: #710707;
  height: 2px;
  margin-bottom: 75px;
}

.tickets__wrapper {
  display: flex;
  justify-content: space-between;
}

.tickets__img {
  margin-bottom: 75px;
}

.tickets__type {
  padding-right: 120px;
}

.radio__name {
  font-family: 'Roboto';
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 0;
}

.amount__name {
  font-family: 'Roboto';
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 0;
  margin-left: 25px;
}

.amount__total {
  font-family: 'Roboto';
  font-size: 28px;
  font-style: normal;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 1.649999976158142px;
  text-align: left;
}

.amount__btn {
  background-color: #030303;
  color: #FFFFFF;
  font-family: 'Roboto';
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 2px;
  text-align: center;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.amount__btn-text {
  font-family: 'Roboto';
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 2px;
  text-align: center;
  margin: 12px 31px 12px 31px;
}

.basic {
  width: 150px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-left: auto;
}

.basic__name {
  font-family: 'Roboto';
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.basic__group {
  width: 150px;
  border: 1px solid black;
}

.basic__btn-minus {
  position: relative;
  width: 38px;
  height: 38px;
  background-color: #FFFFFF;
  border: none;
  right: -5px;
}

.basic__btn-field {
  height: 33px;
  width: 62px;
  position: relative;
  resize: vertical;
  text-align: center;
  border: none;
}

.basic__btn-plus {
  position: relative;
  width: 38px;
  height: 38px;
  background-color: #FFFFFF;
  border: none;
  left: -5px;
}

.senior {
  width: 150px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  margin-left: auto;
}

.senior__name {
  font-family: 'Roboto';
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.senior__group {
  border: 1px solid black;
  width: 150px;
}

.senior__btn-minus {
  position: relative;
  width: 38px;
  height: 38px;
  background-color: #FFFFFF;
  border: none;
  right: -5px;
}

.senior__field {
  height: 33px;
  width: 62px;
  position: relative;
  resize: vertical;
  text-align: center;
  border: none;
}

.senior__btn-plus {
  position: relative;
  width: 38px;
  height: 38px;
  background-color: #FFFFFF;
  border: none;
  left: -5px;
}

label {
  font-family: 'Roboto';
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.amount__total {
  margin-top: 50px 0 60px 0;
}

.contacts__name {
  font-family: 'Forum';
  font-size: 80px;
  font-style: normal;
  font-weight: 400;
  line-height: 90px;
  letter-spacing: 5px;
  text-align: left;
  color: #9D8665;
  margin: 66px 0 25px 0;
}

.contacts__rectangle {
  border: none;
  background-color: #710707;
  height: 2px;
  margin-bottom: 75px;
}

.frame {
  display: flex;
  justify-content: space-between;
}

.frame__contacts {
  width: 282px;
  height: 244px;
}

.frame__name {
  color: black;
  font-family: 'Roboto';
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
  margin: 0 0 50px 0;
}

.frame__address {
  margin-bottom: 25px;
}

.frame__phone {
  margin-bottom: 25px;
}

.frame__mail {
  margin-bottom: 25px;
}

.frame__img {
  margin-bottom: 75px;
}

.address__name {
  font-family: 'Roboto';
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #000000;
}

.address__paris {
  font-family: 'Roboto';
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.phone__name {
  font-family: 'Roboto';
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.phone__paris {
  font-family: 'Roboto';
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  text-decoration: none;
}

.mail__name {
  font-family: 'Roboto';
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
}

.mail__paris {
  font-family: 'Roboto';
  font-size: 22px;
  font-style: normal;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: black;
  text-decoration: none;
}

.footer {
  background-color: #030303;
}

.footer__upper {
  display: flex;
  justify-content: space-between;
}

.footer__logo {
  margin: 75px 0 159px 0;
  display: flex;
  align-items: center;
}

.footer__louvre {
  padding-top: 10px;
  color: #FFFFFF;
  font-family: 'Forum';
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: 31px;
  letter-spacing: 5px;
  text-align: left;
  padding-left: 25px;
}

.footer__nav {
  margin: 80px 0 50px 0;
  width: 363px;
  height: 128px;
  padding-right: 200px;
}

.footer__social {
  display: flex;
}

.footer__items {
  list-style-type: none;
  height: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 540px;
}

.footer__link {
  text-decoration: none;
  color: #FFFFFF;
  font-family: 'Roboto';
  font-size: 22px;
  font-style: normal;
  font-weight: 200;
  line-height: 26px;
  letter-spacing: 2px;
  text-align: left;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
}

.footer__date {
  color: #FFFFFF;
  font-family: 'Roboto';
  font-size: 22px;
  font-style: normal;
  font-weight: 200;
  line-height: 22px;
  letter-spacing: 2px;
  text-align: left;
  margin: 50px 0 50px 0;
}

.footer__copyright {
  color: #FFFFFF;
  font-family: 'Roboto';
  font-size: 22px;
  font-style: normal;
  font-weight: 200;
  line-height: 22px;
  letter-spacing: 2px;
  text-align: left;
  margin: 50px 0 50px 0;
}

.footer__name {
  color: #FFFFFF;
  font-family: 'Roboto';
  font-size: 22px;
  font-style: normal;
  font-weight: 200;
  line-height: 22px;
  letter-spacing: 2px;
  text-align: left;
  margin: 50px 0 50px 0;
}

.social__items {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.social__rect {
  text-decoration: none;
  padding-left: 50px;
}

.social__item {
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  width: 20px;
  padding: 16px;
  height: 20px;
  margin: 0 auto;
  cursor: pointer;
}

.social__item:hover {
  border: 1px solid #FFD700;
}

.footer__rect {
  border: none;
  background-color: #666666;
  height: 2px;
}
/*# sourceMappingURL=style.css.map */