@font-face {
    font-family: 'Blox2';
    src: url(../../assets/fonts/Blox2.woff2), url(../../assets/fonts/Blox2.ttf);
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BACKTO1982';
    src: url(../../assets/fonts/BACKTO1982.woff2), url(../../assets/fonts/BACKTO1982.TTF);
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'INVASION2000';
    src: url(../../assets/fonts/INVASION2000.woff2), url(../../assets/fonts/INVASION2000.TTF);
    font-style: normal;
    font-display: swap;
}
